body{
    background-color: #1B1F28;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

ul{
    padding-left: 0px;
}

li{
list-style: none;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

/* CUSTOM FRAMEWORK */

.font-italic {
 font-style: italic;
}

.text-right {
    text-align: right;
}

.text-white {
color: white !important;
}

.text-whitesmoke {
    color: whitesmoke !important;
    }

.text-orange{
    color: #ff9c00 !important;
}

.btn-orange{
    background-color: #ff9c00 !important;
    border: 2px solid white;
}

.bg-dark{
    background-color: #12151B !important;
}

.pointer:hover{
    cursor: pointer;
}

.z-index-2 {
    z-index: 2;
}

/* PROJECT */
.active {
    border-bottom: 1px solid #ff9c00;
    padding-bottom: 5px;
}
/*
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
    25% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(10px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
    75% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* nav */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #1B1F28;
}

#navabar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

nav i:hover {
    color: whitesmoke !important;
    transition: 1s;
}

nav a:hover,
footer a:hover {
    color: #ff9c00 !important;
    transition: 0.5s;
}

/* jumbotron */
#jumbotron {
    height: 800px;
    margin-top: 138px;
    background-image: url('../img/schwarzerblitz.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#jumbotron h1 {
    font-size: 72px;
}

.jumbotron-veil {
    background-color: white;
    opacity: 0.1;
    top: 0;
    left: 0;
}

.btn-orange:hover {
    background-color: white !important;
    border: 2px solid #ff9c00;
    color: #ff9c00 !important;
    transition: 0.5s;
}

/* main */

/*boxes*/
#boxes i {
    font-size: 50px;
    border: 3px solid #ff9c00;
}

#boxes .col-12:hover {
    background-color: #12151B;
    transition: 1.25s;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 50%);
}

#boxes .col-12:hover i{
    color: #E68700 !important;
    border-color: #E68700;
    transition: 1.25s;
	animation: float 5s ease-in-out infinite;
}

/*motionsickness banne*/
#motion-banner {
    height: 300px;
    background-image: url('../img/motionsickness.png');
    background-size: cover;
    background-position: top;
    position: relative;
}

.motion-banner-veil {
    background-color: white;
    opacity: 0.2;
    top: 0;
    left: 0;
}

/*footer*/
footer i:hover {
    color: #ff9c00 !important;
    transition: 1s;
}
/*copyright*/

/*GAMES*/
#games,
#about,
#contacts,
#services {
    padding-top: 138px;
}

/*ABOUT*/

/*CONTACTS*/